<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>Service details</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h3>Service details</h3>
        </div>

        <a class="btn btn-primary" th:href="${#mvc.url('SC#getEdit').arg(0, service.id).build()}">
            Edit service
        </a>

        <div class="col-12">
            <div class="row">
                <div class="col-6 font-weight-light">Name</div>
                <div class="col-6">[[${service.name}]]</div>
            </div>
        </div>


        <a class="btn btn-primary" th:href="${#mvc.url('AC#getCreate').arg(0, service.id).build()}">
            Create appointment
        </a>

    </div>
</div>
</body>
</html>