<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Header</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu">
            <a class="navbar-brand" th:href="@{/}">Home</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="${#mvc.url('UC#getList').build()}">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${#mvc.url('SC#getList').build()}">
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${#mvc.url('SC#getMyList').build()}">
                            My Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <div th:if="${#authentication != null and !#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}"
                         class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="currentUserDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" th:text="${#authentication.getPrincipal().getUsername()}">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="currentUserDropdown">
                            <a class="dropdown-item" th:href="${#mvc.url('UC#getProfile').arg(0, currentUser?.userId).build()}">My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}">Log out</a>
                        </div>
                    </div>
                    <div th:if="${#authentication != null and #authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}"
                         class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </div>
                    <div th:if="${#authentication != null and #authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}"
                         class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Log in</a>
                    </div>
                </ul>
            </div>
        </nav>

    </body>

</html>





