<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h3>Your profile</h3>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>[[${user.id}]]</td>
                <td>[[${user.email}]]</td>
                <td>[[${user.password}]]</td>
                <td>
                    <th:block th:each="role, iterStat : ${user.roles}">
                        <span>[[${role}]][[!${iterStat.last} ? ',' : '']]</span>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>